# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Local environment files
.env
.env.*
.envrc
.python-version

# Local datasets and generated outputs
data/

# Training logs and temporary outputs
catboost_info/

# OS/editor files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# train file
.csv

# AI training files
ai_glucose/project/models/
ai_glucose/project/data_raw/
ai_glucose/project/out_meals/
ai_glucose/project/output/

# training scripts
ai_glucose/project/scripts
ai_glucose/project/tools/
ai_glucose/project/train_version/

# raw dataset
ai_glucose/project/glucobench.csvai/ai_glucose/code/last_data/